In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/kaggle/input/hospital-beds-management/patients.csv")
df

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24,2025-03-16,2025-03-22,surgery,61
1,PAT-f0644084,Shannon Walker,6,2025-12-13,2025-12-14,surgery,83
2,PAT-ac6162e4,Julia Torres,24,2025-06-29,2025-07-05,general_medicine,83
3,PAT-3dda2bb5,Crystal Johnson,32,2025-10-12,2025-10-23,emergency,81
4,PAT-08591375,Garrett Lin,25,2025-02-18,2025-02-25,ICU,76
...,...,...,...,...,...,...,...
995,PAT-a01bf534,Amber Vang,26,2025-12-02,2025-12-04,emergency,91
996,PAT-87fa07bd,Martha Smith,89,2025-11-18,2025-11-30,emergency,99
997,PAT-8f07e894,Jennifer James,72,2025-12-12,2025-12-21,ICU,69
998,PAT-4ae301e1,Kara Hernandez,47,2025-02-08,2025-02-20,ICU,61
999,PAT-e2ef9c5f,Lorraine Turner,64,2025-05-04,2025-05-08,general_medicine,83

In [3]:
df.shape

(1000, 7)

In [4]:
df.sample

<bound method NDFrame.sample of        patient_id               name  age arrival_date departure_date  \
0    PAT-09484753  Richard Rodriguez   24   2025-03-16     2025-03-22
1    PAT-f0644084     Shannon Walker    6   2025-12-13     2025-12-14
2    PAT-ac6162e4       Julia Torres   24   2025-06-29     2025-07-05
3    PAT-3dda2bb5    Crystal Johnson   32   2025-10-12     2025-10-23
4    PAT-08591375        Garrett Lin   25   2025-02-18     2025-02-25
..            ...                ...  ...          ...            ...
995  PAT-a01bf534         Amber Vang   26   2025-12-02     2025-12-04
996  PAT-87fa07bd       Martha Smith   89   2025-11-18     2025-11-30
997  PAT-8f07e894     Jennifer James   72   2025-12-12     2025-12-21
998  PAT-4ae301e1     Kara Hernandez   47   2025-02-08     2025-02-20
999  PAT-e2ef9c5f    Lorraine Turner   64   2025-05-04     2025-05-08

              service  satisfaction
0             surgery            61
1             surgery            83
2    general_medicine            83
3           emergency            81
4                 ICU            76
..                ...           ...
995         emergency            91
996         emergency            99
997               ICU            69
998               ICU            61
999  general_medicine            83

[1000 rows x 7 columns]>

In [5]:
df.info

<bound method DataFrame.info of        patient_id               name  age arrival_date departure_date  \
0    PAT-09484753  Richard Rodriguez   24   2025-03-16     2025-03-22
1    PAT-f0644084     Shannon Walker    6   2025-12-13     2025-12-14
2    PAT-ac6162e4       Julia Torres   24   2025-06-29     2025-07-05
3    PAT-3dda2bb5    Crystal Johnson   32   2025-10-12     2025-10-23
4    PAT-08591375        Garrett Lin   25   2025-02-18     2025-02-25
..            ...                ...  ...          ...            ...
995  PAT-a01bf534         Amber Vang   26   2025-12-02     2025-12-04
996  PAT-87fa07bd       Martha Smith   89   2025-11-18     2025-11-30
997  PAT-8f07e894     Jennifer James   72   2025-12-12     2025-12-21
998  PAT-4ae301e1     Kara Hernandez   47   2025-02-08     2025-02-20
999  PAT-e2ef9c5f    Lorraine Turner   64   2025-05-04     2025-05-08

              service  satisfaction
0             surgery            61
1             surgery            83
2    general_medicine            83
3           emergency            81
4                 ICU            76
..                ...           ...
995         emergency            91
996         emergency            99
997               ICU            69
998               ICU            61
999  general_medicine            83

[1000 rows x 7 columns]>

In [6]:
df.isnull().sum()

patient_id        0
name              0
age               0
arrival_date      0
departure_date    0
service           0
satisfaction      0
dtype: int64

In [7]:
df.describe()

               age  satisfaction
count  1000.000000   1000.000000
mean     45.337000     79.597000
std      25.999912     11.550325
min       0.000000     60.000000
25%      23.000000     70.000000
50%      46.000000     80.000000
75%      68.000000     89.250000
max      89.000000     99.000000

In [8]:
df.duplicated().sum()

np.int64(0)

In [10]:
df.corr(numeric_only= True)['satisfaction']

age            -0.056229
satisfaction    1.000000
Name: satisfaction, dtype: float64