In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("/kaggle/input/hospital-beds-management/services_weekly.csv")
df

,week,month,service,available_beds,patients_request,patients_admitted,patients_refused,patient_satisfaction,staff_morale,event
0,1,1,emergency,32,76,32,44,67,70,none
1,1,1,surgery,45,130,45,85,83,78,flu
2,1,1,general_medicine,37,201,37,164,97,43,flu
3,1,1,ICU,22,31,22,9,84,91,flu
4,2,1,emergency,28,169,28,141,75,64,none
...,...,...,...,...,...,...,...,...,...,...
203,51,12,ICU,18,15,15,0,87,80,none
204,52,12,emergency,26,130,26,104,88,63,none
205,52,12,surgery,53,39,39,0,82,50,none
206,52,12,general_medicine,65,225,65,160,82,40,flu
207,52,12,ICU,22,24,22,2,80,96,none

In [13]:
df.shape

(208, 10)

In [14]:
df.sample

<bound method NDFrame.sample of      week  month           service  available_beds  patients_request  \
0       1      1         emergency              32                76
1       1      1           surgery              45               130
2       1      1  general_medicine              37               201
3       1      1               ICU              22                31
4       2      1         emergency              28               169
..    ...    ...               ...             ...               ...
203    51     12               ICU              18                15
204    52     12         emergency              26               130
205    52     12           surgery              53                39
206    52     12  general_medicine              65               225
207    52     12               ICU              22                24

     patients_admitted  patients_refused  patient_satisfaction  staff_morale  \
0                   32                44                    67            70
1                   45                85                    83            78
2                   37               164                    97            43
3                   22                 9                    84            91
4                   28               141                    75            64
..                 ...               ...                   ...           ...
203                 15                 0                    87            80
204                 26               104                    88            63
205                 39                 0                    82            50
206                 65               160                    82            40
207                 22                 2                    80            96

    event
0    none
1     flu
2     flu
3     flu
4    none
..    ...
203  none
204  none
205  none
206   flu
207  none

[208 rows x 10 columns]>

In [15]:
df.info

<bound method DataFrame.info of      week  month           service  available_beds  patients_request  \
0       1      1         emergency              32                76
1       1      1           surgery              45               130
2       1      1  general_medicine              37               201
3       1      1               ICU              22                31
4       2      1         emergency              28               169
..    ...    ...               ...             ...               ...
203    51     12               ICU              18                15
204    52     12         emergency              26               130
205    52     12           surgery              53                39
206    52     12  general_medicine              65               225
207    52     12               ICU              22                24

     patients_admitted  patients_refused  patient_satisfaction  staff_morale  \
0                   32                44                    67            70
1                   45                85                    83            78
2                   37               164                    97            43
3                   22                 9                    84            91
4                   28               141                    75            64
..                 ...               ...                   ...           ...
203                 15                 0                    87            80
204                 26               104                    88            63
205                 39                 0                    82            50
206                 65               160                    82            40
207                 22                 2                    80            96

    event
0    none
1     flu
2     flu
3     flu
4    none
..    ...
203  none
204  none
205  none
206   flu
207  none

[208 rows x 10 columns]>

In [16]:
df.isnull().sum()

week                    0
month                   0
service                 0
available_beds          0
patients_request        0
patients_admitted       0
patients_refused        0
patient_satisfaction    0
staff_morale            0
event                   0
dtype: int64

In [17]:
df.describe()

,week,month,available_beds,patients_request,patients_admitted,patients_refused,patient_satisfaction,staff_morale
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,26.500000,6.923077,30.346154,64.870192,28.129808,36.740385,80.000000,72.567308
std,15.044539,3.634755,15.172929,58.738572,14.676791,55.015763,11.125546,15.457759
min,1.000000,1.000000,8.000000,5.000000,5.000000,0.000000,60.000000,31.000000
25%,13.750000,4.000000,18.000000,23.750000,16.000000,0.000000,70.000000,60.000000
50%,26.500000,7.000000,27.500000,49.000000,26.000000,13.500000,81.000000,73.000000
75%,39.250000,10.000000,40.000000,86.000000,37.000000,52.500000,89.000000,86.000000
max,52.000000,12.000000,74.000000,388.000000,74.000000,363.000000,99.000000,99.000000

In [18]:
df.duplicated().sum()

np.int64(0)

In [20]:
df.corr(numeric_only= True)['patient_satisfaction']

week                    0.004878
month                  -0.004062
available_beds          0.018831
patients_request       -0.049699
patients_admitted      -0.002337
patients_refused       -0.052439
patient_satisfaction    1.000000
staff_morale            0.008259
Name: patient_satisfaction, dtype: float64